<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watsapp</title>
</head>

<body>
    <h3>All Charts!</h3>
</body>

</html>